<a href="https://colab.research.google.com/github/Ozziur/datalab/blob/main/Week%203/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [4]:
import pandas as pd

salaries=pd.read_csv("Dataset/Salaries.csv")

salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

2

In [ ]:
salaries.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Columns: 13 entries, Id to Status
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

3

In [ ]:
print( salaries["OvertimePay"].max())

245131.88

4

In [ ]:
x = salaries.query("EmployeeName == 'JOSEPH DRISCOLL'")
print (x["JobTitle"])

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

5

In [7]:
x = salaries.query("EmployeeName == 'JOSEPH DRISCOLL'")
print (x['TotalPayBenefits'])

24    270324.91
Name: TotalPayBenefits, dtype: float64

6

In [18]:
print(salaries[salaries['TotalPayBenefits']==salaries['TotalPayBenefits'].max()]['EmployeeName'])

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

7

In [25]:
print(salaries[salaries['TotalPayBenefits']==salaries['TotalPayBenefits'].min()],end="\n\n\n\n\n")
print("valori negativi, debiti??")

            Id EmployeeName                    JobTitle  BasePay  OvertimePay  \
148653  148654    Joe Lopez  Counselor, Log Cabin Ranch      0.0          0.0

        OtherPay  Benefits  TotalPay  TotalPayBenefits  Year  Notes  \
148653   -618.13       0.0   -618.13           -618.13  2014    NaN

               Agency  Status
148653  San Francisco     NaN




valori negativi, debiti??

8

In [34]:
print(salaries.groupby("Year").mean()["BasePay"])

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

9

In [38]:
print(salaries["JobTitle"].nunique())

2159