<a href="https://colab.research.google.com/github/Ozziur/datalab/blob/main/Week3/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

salaries=pd.read_csv("Dataset/Salaries.csv")

salaries.head(n=1)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [9]:
salaries.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Columns: 13 entries, Id to Status
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [14]:
print( salaries["OvertimePay"].max())

245131.88

In [25]:
x = salaries.query("EmployeeName == 'JOSEPH DRISCOLL'")
print (x["JobTitle"])

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object